{% extends 'base.html' %}

{% block content %}
    <div class="card">
            <div class="card-body">
                <a class="btn btn-secondary btn-primary" type="button" href="{% url 'main:mailing_create' %}">Добавить рассылку</a>
            </div>
    </div>

        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Список сервисных рассылок</h1>
        </div>
        {% for mailing in object_list %}
        <div class="container">
            <div class="row text-start">
                <div class="col-lg-9 col-md-6 col-sm-12">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <table class="table table-striped">
                                <tr>
                                    <h4>
                                        <a class="text-black" href="{% url 'main:mailing_detail' mailing.pk %}">Рассылка № {{ mailing.pk }} , время рассылки:{{ mailing.start_time }} - {{ mailing.end_time }} </a>
                                    </h4>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock %}
